<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFE_OnSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <userSettings>
    <RFE_OnSite.Properties.Settings>
      <setting name="Persist_ClientText" serializeAs="String">
        <value>Client</value>
      </setting>
      <setting name="Persist_LocationText" serializeAs="String">
        <value>Client Location</value>
      </setting>
      <setting name="Persist_FloorText" serializeAs="String">
        <value>Floor</value>
      </setting>
      <setting name="Persist_FloorNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Persist_MarkerText" serializeAs="String">
        <value>M</value>
      </setting>
      <setting name="Persist_MarkerNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Persist_MarkerIncrement" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Persist_FloorEnable" serializeAs="String">
        <value>Enable</value>
      </setting>
      <setting name="Persist_FloorDecrement" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_MinimumStableSweeps" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Persist_AutoScale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Persist_SaveCsvChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Persist_Preset" serializeAs="String">
        <value>Full Downlink</value>
      </setting>
      <setting name="Persist_2400Buad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Persist_AutoNext" serializeAs="String">
        <value>Enable</value>
      </setting>
      <setting name="Persist_CheckBox_Band_600" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_CheckBox_Band_700" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_CheckBox_Band_CEL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_CheckBox_Band_PCS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_CheckBox_Band_AWS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_CheckBox_Band_WCS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Persist_Sweeps" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="Persist_Mad" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="ComboBox_CurrentConfiguration_Preset" serializeAs="String">
        <value />
      </setting>
    </RFE_OnSite.Properties.Settings>
  </userSettings>
</configuration>
